4_3_searchlinkedin_website.json
{
  "name": "4_3_searchlinkedin_website",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"site: linkedin.com  {{ $('Start').item.json.fields_website }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6528,
        928
      ],
      "id": "1c24d84d-012b-45a7-987d-8fc9b39055fd",
      "name": "Linkedin website",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fxLmqPkkTWOyRn0M",
          "name": "Serper"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fields_query_location",
              "type": "any"
            },
            {
              "name": "fields_company_name",
              "type": "any"
            },
            {
              "name": "fields_query",
              "type": "any"
            },
            {
              "name": "fields_website",
              "type": "any"
            }
          ]
        }
      },
      "id": "fe76b92b-6775-4bc6-89a3-09ab61f14e04",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        6320,
        928
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n        \"first_name\": {\n          \"type\": \"string\",\n          \"description\": \"first_name of the decision maker\"\n      },\n        \"last_name\": {\n          \"type\": \"string\",\n          \"description\": \"last_name of the decision maker\"\n      },\n        \"job_title\": {\n          \"type\": \"string\",\n          \"description\": \"job_title of the decision maker\"\n      },\n        \"linkedin_url\": {\n          \"type\": \"string\",\n          \"description\": \"linkedin_url of the decision maker\"\n      },\n        \"country\": {\n          \"type\": \"string\",\n          \"description\": \"country of the decision maker\"\n      },\n        \"location\": {\n          \"type\": \"string\",\n          \"description\": \"city or state of the decision maker, not country\"\n      },\n        \"email\": {\n          \"type\": \"string\",\n          \"description\": \"email of the decision maker\"\n      },\n        \"number\": {\n          \"type\": \"string\",\n          \"description\": \"phone number or mobile number of the decision maker\"\n      },\n        \"confidence_score\": {\n          \"type\": \"number\",\n          \"description\": \"1 if link belongs to company, 0 if it does not\"\n      },\n        \"reason\": {\n          \"type\": \"string\",\n          \"description\": \"Why you gave certain confidence score\"\n      }\n    },\n    \"required\": [\"confidence_score\", \"reason\"]\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        7056,
        1120
      ],
      "id": "a2122446-c0d5-48a0-a96f-0a6e75d5f268",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6848,
        1136
      ],
      "id": "f098cc8b-e895-487f-ac7d-f2c2c737e1d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2tO5TH8HPT7dzT49",
          "name": "OpenAi Nishil account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task\nYour task is to provide a confidence_score  and decision_makers, based on search_results obtained. \n\n# Finding Decision Maker\nThe  decision_maker's job title must resemble of roles like these: CEO\", \"founder\", \"co-founder\", \"owner\", \"head of sales\", \"vp sales\", \"head of marketing\" or \"director\". \n\nThe decision maker must belong to this company: {{ $('Start').item.json.fields_company_name }} , which operates in the {{ $('Start').item.json.fields_query }} industry and located in {{ $('Start').item.json.fields_query_location }}. \n\n# confidence_score\nGive the confidence_score based on, if the person seems to be the decision maker of the the provided company. Confidence_score can either be 1, if the person belongs to business and 0 if it does not.\n\n# Reason\nAlso provide a short less than 50 word reason on why you gave a certain confidence_score.\n\n# Output Values\nYour final output json must be list of all decision_makers found and always have these values: first_name, last_name, job_title, location, country, confidence_score and reason.\n\n# Output and input examples\ninput_example_1: company_name is \"Netmark Digital Marketing Services\", snippet is \"Netmark is a premier digital marketing agency which was founded by John Doe\", industry is marketing agency, located in greater london, uk\n\noutput_example_1: decision_maker[0] is \"John Doe, founder\". confidence_score is 1, because reason is that results show he founder the company.\n\ninput_example_2: company_name is \"Holo Digital Services\", snippet is \"Holo helps business outreach to clients. for sales contact Tom Ford\", industry is digital agency, located in newyork, usa\n\noutput_example_2: decision_maker[0] is \"Tom Ford, Head of sales\" and his linkedin_ul is not found, hence don't mention it in output. confidence_score is 1, because reason is that results shows he handles sales for the company.\n\n# Output format\nReturn a JSON array of all decision makers found, where each object has: \n[first_name, last_name, job_title, linkedin_url, location, country, confidence_score, reason] \nIf certain field is not found, don't mention its key and value pair in output JSON array, unless it is required field.\n\n# search_results\nhere are the search_results obtained: \"{{ JSON.stringify($json.organic) }}\"",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6896,
        912
      ],
      "id": "01390a36-1e68-451d-a2ea-1ff0598398f7",
      "name": "AI Agent",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7248,
        912
      ],
      "id": "7c8e0ea6-97c6-49ab-b21b-66425589ccde",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "767991bd-db8a-480e-b394-d74281fb051b",
              "leftValue": "={{ $json.confidence_score }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "23dea341-d273-4197-a617-712e0d06d616",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "75e3d090-6ef3-44c1-8752-b21deda9358d",
              "leftValue": "={{ $json.last_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        7456,
        912
      ],
      "id": "a4cac5ae-ebcf-4838-a4e8-78f2814b652d",
      "name": "if confident",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2ccfb6a-caa9-4803-a294-b8927b721655",
              "leftValue": "={{ $json.organic }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6656,
        928
      ],
      "id": "7f781176-7295-43a0-8dcf-46b2551b43a6",
      "name": "If results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad7fd1a3-2db5-4355-a05d-402f2f2d3050",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7136,
        752
      ],
      "id": "056f6e65-536b-43fe-8ac3-692df9fc86ac",
      "name": "If"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "fields_query_location": "London, UK",
          "fields_company_name": "A&E Gas 24/7",
          "fields_query": "plumbers",
          "fields_website": "https://aegas247.co.uk/"
        }
      }
    ]
  },
  "connections": {
    "Linkedin website": {
      "main": [
        [
          {
            "node": "If results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Linkedin website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "if confident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If results": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "MGlt9ruNT5LuyF4p"
  },
  "versionId": "1a0001be-3d73-4c0c-850f-653999c4edc7",
  "meta": {
    "instanceId": "210a6b77e243e6c47c9fc1d41eaba753b733a641e32f81e389d9b77e62c760e2"
  },
  "id": "7hKkSH52JefeeccJ",
  "tags": [
    {
      "updatedAt": "2025-11-26T11:38:59.261Z",
      "createdAt": "2025-11-13T05:45:03.531Z",
      "id": "PhyTAhEW0c0KDrXy",
      "name": "ani_googledance"
    }
  ]
}